body {
    margin: 0;
    font-family: 'Audiowide', cursive;
}

nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    border-bottom: solid 2px #ee3501;
    display: flex;
    background-color: #000;

}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;

}

li {
    float: left;
}

li a {
    display: block;
    color: #A52200;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 1.2em;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f85326;
    color: #000;
}

.new-black-hole {
    width: 140px;
    height: 70px;
}

.top-section {
    display: flex;
    border-bottom: solid 5px #fff;

}

.main-top-section {
    width: 100%;
    height: 800px;
    align-items: center;
    display: flex;
    background-color: #000;
    flex-direction: column;
    padding-top: 100px;
    
}


h1 {
    color: #f85326;
    font-size: 2.8em;
    
}

h3 {
    color: #f85326;
    font-size: 1.8em;
}

/* .center-box {
    width: 600px;
    height: 600px;
    background-image: url("../../images/giphy.gif");

} */

img.animated-gif{
    width: 450px;
    height: auto;
  }

.signup {
    height: 60px;
    width: 200px;
    background-color: #f85326;
    color: #000;
    border-color: #f85326;
    border-radius: 25px;
    font-family: 'Audiowide', cursive;
    font-size: 1.2em;
}  

.signup:hover {
    background-color: #000;
    color: #f85326;
    border-color: #ee3501;
}


.middle-section {
    width: 100%;
    height: 500px;
    background-color: #A52200;
    display: flex;
    
}

.pitch h3{
    text-align: center;
    color: #000;
    font-size: 2.3em;
}

.pitch h4{
    text-align: center;
    color: #000;
    font-size: 1.9em;
}

.pitch p{
    color: #fff;
    font-size: 1.4em;
    margin: 0 20px ;
}

.middle-section-left {
    width: 300px;
    height: 500px;
    background-color: #000;
}

.tabs-links {
    display: flex;
    flex-direction: column;

}

.tabs-links .tabs-link {
    padding: 20px 40px;
    background: #A52200;
    border: 1px solid black;
    cursor: pointer;
}

.bottom-section {
    width: 100%;
    height: 200px;
    background-color: #000;
}

.tabs-item {
  display: none;
  width: 75%;
}

.active-tab {
    display: block;
}

.tabs-link .active-link {
    background-color: #000;
    color: black;
  }

.tabs-link:hover {
    background-color: #be2530;
  }

