body {
    margin: 0;
}

nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    border-bottom: solid 2px #ee3501;
}

li {
    float: left;
}

li a {
    display: block;
    color: red;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 1.2em;
    font-family: 'Audiowide', cursive;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #f85326;
    color: #000;
}

.top-section {
    width: 100%;
    height: 1200px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #000;
    flex-direction: column;
    
}

h1 {
    color: #f85326;
    font-size: 2.8em;
    font-family: 'Audiowide', cursive;
}

h3 {
    color: #f85326;
    font-size: 1.8em;
    font-family: 'Audiowide', cursive;
}

.center-box {
    width: 600px;
    height: 600px;
    background-image: url("../../images/giphy.gif");

}
.middle-section {
    width: 100%;
    height: 500px;
    background-color: #4930A8;
}
.bottom-section {
    width: 100%;
    height: 500px;
    background-color: #000;
}