body {
    margin: 0;
    font-family: 'Audiowide', cursive;
    background-image: url("/images/orange-space.jpg");
    background-size: 1920px 1080px;
}


/* Header area */

.header-nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    border-bottom: solid 2px #ee3501;
    display: flex;
    background-color: #000;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}

.header-nav li {
    float: left;
}

.header-nav li a {
    display: block;
    color: #A52200;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 1.2em;
}

.header-nav li a:hover {
    background-color: #f85326;
    color: #000;
}

.new-black-hole {
    width: 140px;
    height: 70px;
}

/* Header area end */


/* Top section */

.top-section {
    display: flex;
}



.top-left-section {
    width: 37%;



}

.main-top-section {
    width: 35%;
    height: 800px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    

}

.main-top-section img {
    border-radius: 50%;
}

.top-right-section {
    width: 38%;


}

.top-section h1 {
    color: #f85326;
    font-size: 4em; 
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.top-section h2 {
    color: #fff;
    font-size: 2.8em;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
}


img.animated-gif{
    width: 450px;
    height: auto;
}

.main-top-section button{
    margin-top: 20px;
}

.signup {
    height: 60px;
    width: 200px;
    background-color: #f85326;
    color: #000;
    border-color: #f85326;
    border-radius: 25px;
    font-family: 'Audiowide', cursive;
    font-size: 1.2em;
}  

.signup:hover {
    background-color: #000;
    color: #f85326;
    border-color: #ee3501;
}

/* Top section end */


/* Middle section */

.middle-section {
    width: 100%;
    height: 420px;
    background-color: #A52200;
    display: flex;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-size: 1900px 700px;
}

.tabs-item h3{
    text-align: center;
    color: #000;
    font-size: 2.3em;
}

.tabs-item h4{
    text-align: center;
    color: #000;
    font-size: 1.9em;
    margin-bottom: 20px;
}

.tabs-item p{
    color: #fff;
    font-size: 1.4em;
    margin: 0 20px ;
}

.middle-section-left {
    width: auto;
    height: auto;
    background-color: #000;
}

.tabs-links {
    display: flex;
    flex-direction: column;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs-links .tabs-link {
    padding: 20px 40px;
    background: #000; 
    color: #A52200;
    border: 1px solid #A52200;
    cursor: pointer;
}

.tabs-item {
  display: none;
  width: 75%;
}

.active-tab {
    display: block;
}

.tabs .active-link {
    background-color: #A52200;
    color: #000;
    border: 1px #000 solid;
}

.tabs-link:hover {
    background-color: #A52200;
    color: #000;
    border: 1px #000 solid;
}

/* Bottom section */
.bottom-section {
    width: 100%;
    height: 500px;
    border-bottom: solid 2px #ee3501;
    display: flex;
}

.bottom-left-section {
    height: auto;
    width: 33%;
    background-color: #000;
}

.bottom-middle-section {
    height: auto;
    width: 34%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-right-section {
    height: auto;
    width: 33%;
    background-color: #000;
}

/* Demo Area */

.box {
    background-color: #A52200;
    height: 400px;
    width: 400px;
    border: 1px solid #A52200; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h3 {
    text-align: center;
    color: #000;
}
.box p {
    text-align: center;
    color: #000;
}

#box-button {
    margin-top: 20px;
    height: 50px;
    width: 150px;
    background-color: #f85326;
    color: #000;
    border-color: #f85326;
    border-radius: 25px;
    font-family: 'Audiowide', cursive;
    font-size: 1em;
}

#box-button:hover {
    background-color: #000;
    color: #f85326;
    border-color: #ee3501;
}

.transform {
    -webkit-transition: all 2s ease;  
    -moz-transition: all 2s ease;  
    -o-transition: all 2s ease;  
    -ms-transition: all 2s ease;  
    transition: all 2s ease;
}

.transform-active {
    background-color: #000;
    height: 0px;
    width: 0px;
}

/* End Of Demo Area */
  
  
/* Footer area */

footer {
    background-color: #000;
    margin: 0;
    height: auto;
}

.footer-nav ul{
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.footer-nav li {
    width: 200px;
    height: 50px;
    padding: 20px 0;
    list-style-type: none;
}

.footer-nav  ul li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-nav li a:hover {
    background-color: #f85326;
    color: #000;
}

/* End Of Footer Area */

/* Mobile Nav  */

.dropdown {
    display: none;
    background-color: #000;
}

.dropdown .btn {
    width: 35%;
    background-color: #000;
    border-color: #ee3501;
    color: #ee3501
}

#dropdownMenuButton {
    background-color: #000;
    color: #ee3501;
}

.dropdown .show{
    background-color: #ee3501;
}

.dropdown .btn:hover {
    background-color: #ee3501;
    border-color: #000;
    color: #000;
}

.button-menu .show {
    background-color: #000;
}

@media screen and (max-width: 500px) {
    .dropdown{
        display: block;
    }

    .header-nav {
        display: none;
    }

    .middle-section {
        height: 600px;
    }

    .middle-section p{
        font-size: 0.9em;
    }

    .middle-section h4{
        font-size: 1.7em;
    }

    .bottom-middle-section{
        width: 100%;
    }

    .footer-nav  ul li a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 0.7em;
        list-style-type: none;
    }
}